<div class="pull-right">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>
</div>

<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>

<table class="table table-boldered">
  <thead>
       <tr>
           <td>
               职缺</td>
           <td>薪资下限</td>
           <td>薪资上限</td>
           <td>刊登时间</td>
       </tr>

   </thead>
   <tbody>
       <% @jobs.each do |job| %>
       <tr>
           <td>
               <%= link_to(job.title, job_path(job)) %>
           </td>
           <td>
               <%= job.wage_lower_bound %>
           </td>
           <td>
               <%= job.wage_upper_bound %>
           </td>
           <td>
               <%= job.created_at %>
           </td>
       </tr>
       <% end %>
   </tbody>
</table>


<div class="job-list" data-filter="city101010100" data-keyword="" data-l3code="0" data-rescount="281616" data-page="1" data-source="4">
                    <ul>

                            <li>
                                <a href="/job_detail/1411142284.html" ka="job_list_1" data-itemid="1" data-lid="4-5qWqmXZ" data-index="1" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">Android</h3>
                                        <p class="saraly"><span class="red">15K-25K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">中软国际</div>
                                            <p>IT软件<em class="vline"></em>已上市</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411140901.html" ka="job_list_2" data-itemid="2" data-lid="4-5qWqmXZ" data-index="2" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">Java</h3>
                                        <p class="saraly"><span class="red">20K-30K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">华为</div>
                                            <p>IT软件<em class="vline"></em>不需要融资</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411138971.html" ka="job_list_3" data-itemid="3" data-lid="4-5qWqmXZ" data-index="3" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">网络工程师</h3>
                                        <p class="saraly"><span class="red">15K-22K</span></p>
                                        <p>北京<em class="vline"></em>1-3年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">美团点评</div>
                                            <p>O2O<em class="vline"></em>D轮及以上</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411139137.html" ka="job_list_4" data-itemid="4" data-lid="4-5qWqmXZ" data-index="4" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">产品经理</h3>
                                        <p class="saraly"><span class="red">20K-25K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">京东</div>
                                            <p>电子商务<em class="vline"></em>已上市</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411132387.html" ka="job_list_5" data-itemid="5" data-lid="4-5qWqmXZ" data-index="5" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">地图机器学习高级算法工</h3>
                                        <p class="saraly"><span class="red">20K-40K</span></p>
                                        <p>北京<em class="vline"></em>1-3年<em class="vline"></em>硕士</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">百度</div>
                                            <p>互联网<em class="vline"></em>已上市</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411140691.html" ka="job_list_6" data-itemid="6" data-lid="4-5qWqmXZ" data-index="6" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">深度学习平台开发工程师</h3>
                                        <p class="saraly"><span class="red">20K-25K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>硕士</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">美图公司</div>
                                            <p>互联网<em class="vline"></em>D轮及以上</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411131491.html" ka="job_list_7" data-itemid="7" data-lid="4-5qWqmXZ" data-index="7" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">Java</h3>
                                        <p class="saraly"><span class="red">15K-30K</span></p>
                                        <p>北京<em class="vline"></em>1-3年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">链家网</div>
                                            <p>移动互联网<em class="vline"></em>已上市</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411122883.html" ka="job_list_8" data-itemid="8" data-lid="4-5qWqmXZ" data-index="8" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">Java开发工程师【京东】</h3>
                                        <p class="saraly"><span class="red">20K-30K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">京东商城</div>
                                            <p>电子商务<em class="vline"></em>已上市</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411136335.html" ka="job_list_9" data-itemid="9" data-lid="4-5qWqmXZ" data-index="9" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">算法工程师</h3>
                                        <p class="saraly"><span class="red">20K-40K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">滴滴出行</div>
                                            <p>移动互联网<em class="vline"></em>D轮及以上</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411138655.html" ka="job_list_10" data-itemid="10" data-lid="4-5qWqmXZ" data-index="10" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">资深前端开发工程师/前端开发专家</h3>
                                        <p class="saraly"><span class="red">16K-30K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">阿里影业</div>
                                            <p>文化娱乐<em class="vline"></em>已上市</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411110340.html" ka="job_list_11" data-itemid="11" data-lid="4-5qWqmXZ" data-index="11" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">自然语言处理</h3>
                                        <p class="saraly"><span class="red">40K-70K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">美团网</div>
                                            <p>O2O<em class="vline"></em>D轮及以上</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411136115.html" ka="job_list_12" data-itemid="12" data-lid="4-5qWqmXZ" data-index="12" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">Hadoop</h3>
                                        <p class="saraly"><span class="red">10K-20K</span></p>
                                        <p>北京<em class="vline"></em>3-5年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">PACTERA</div>
                                            <p>IT软件<em class="vline"></em>已上市</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411138826.html" ka="job_list_13" data-itemid="13" data-lid="4-5qWqmXZ" data-index="13" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">产品部经理</h3>
                                        <p class="saraly"><span class="red">40K-50K</span></p>
                                        <p>北京<em class="vline"></em>5-10年<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">ofo</div>
                                            <p>互联网<em class="vline"></em>D轮及以上</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411118249.html" ka="job_list_14" data-itemid="14" data-lid="4-5qWqmXZ" data-index="14" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">数据开发</h3>
                                        <p class="saraly"><span class="red">25K-50K</span></p>
                                        <p>北京<em class="vline"></em>经验不限<em class="vline"></em>本科</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">滴滴打车</div>
                                            <p>互联网<em class="vline"></em>D轮及以上</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="/job_detail/1411112700.html" ka="job_list_15" data-itemid="15" data-lid="4-5qWqmXZ" data-index="15" target="_blank">
                                <div class="job-primary">
                                    <div class="info-primary">
                                        <h3 class="name">阿里彩票技术</h3>
                                        <p class="saraly"><span class="red">15K-30K</span></p>
                                        <p>北京<em class="vline"></em>1-3年<em class="vline"></em>硕士</p>
                                    </div>
                                    <div class="info-comapny">
                                        <div class="company-text">
                                            <div class="company-logo">阿里巴巴集团</div>
                                            <p>互联网<em class="vline"></em>已上市</p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </li>

                    </ul>
                    <div class="link-all"><a href="/c101010100/" ka="all-jobs">全部职位</a></div>
                    <!--有职位 end-->
                </div>
