<div class="pull-right" >
 <button  class="dropbtn-red" >
        <%= link_to("ADD A JOB", new_admin_job_path) %>
  </button>

</div>

    <div class="row col-md-12 custyle" style="padding-left: 84px;width: 1400px;" >


     <table class="table table-striped custab" >

          <thead>
            <tr>
                <th>Job</th>
                <th>Resume count</th>
                <th>Wage</thd>
                <th>Manage</th>
                <th class="text-center">Update Time</td>
            </tr>
          </thead>


    <% @jobs.each do |job| %>
    <tr>

        <td>
            <%= render_job_status(job) %>

            <%= link_to(job.title, edit_admin_job_path(job)) %>
        </td>
        <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
        <td> <%= job.wage_lower_bound %>$ - <%= job.wage_upper_bound %>$</td>
        <td>
          <%= link_to("Edit", edit_admin_job_path(job), :class => "btn btn-xs btn-info") %>
          <%= link_to("Destroy", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
            <% if job.is_hidden %>

             <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
            <% else %>
               <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>

            <% end %>
        </td>
        <td>
            <%= job.created_at %>
        </td>
    </tr>
    <% end %>

</table>
</div>
