<br><br><br><br><br><br>

  <%= simple_form_for [:admin,@job] do |f| %>

      <div class="container">
      <div class="col-md-8" style="margin-left:155px">
          <div class="form-area">
              <form role="form">
              <br style="clear:both">
                          <h3 style="margin-bottom: 25px; text-align: center;">ADD A JOB</h3>
                				<div class="form-group">

                    <%= f.input :title %>
                    <%= f.input :description %>
                    <%= f.input :wage_lower_bound, :label => "Wage upper" %>
                    <%= f.input :wage_upper_bound, :label => "Wage lower" %>
   	                <%= f.input :contact_email %>
                    <%= f.input :is_hidden %>
                    <%= f.submit "Submit", :class => "btn btn-primary pull-right"%>

                    	</div>
              </form>

          </div>
        </div>
      </div>

<% end %>
